data/chess_games_columns_reduced.csv
data/chess_games_raw.csv
data/processed_chess_boards.csv
data/.DS_Store
.DS_Store
__pycache__/train.cpython-310.pyc
classify_opening_api/__pycache__/classify.cpython-310.pyc
cloud_deployment/terraform/.terraform.lock.hcl
cloud_deployment/terraform/.terraform.tfstate.lock.info
cloud_deployment/terraform/.terraform/providers/registry.terraform.io/hashicorp/google/6.19.0/darwin_amd64/terraform-provider-google_v6.19.0_x5
cloud_deployment/terraform/terraform.tfstate
cloud_deployment/terraform/terraform.tfstate.backup
