[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
chess = "*"
ipykernel = "*"
fastapi = "*"
torch = "*"
uvicorn = "*"
numpy = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
